# Ignore TF variables
./variables.tf

# Ignore Obsidian config files
.obsidian

# Ignore Terraform config dir
.terraform
/*/.terraform
/*/.terraform.lock.hcl
/*/terraform.tfstate.backup
/*/variables.tf
/*/terraform.tfstate

# Ignore Vagrant config files
Vagrant/*/.vagrant/

# Ignore Vagrant environment files
Vagrant/*/environment.rb
# Vagrant/Docker-Host/environment.rb
# Vagrant/Jenkins-Server/environment.rb
# Vagrant/Dev-Station/environment.rb
