# Ignore TF variables
./variables.tf

# Ignore Terraform config dir
.terraform
.terraform.lock.hcl
terraform.tfstate.backup
variables.tf
terraform.tfstate

# Ignore Vagrant environment files
Vagrant/Web-Servers/environment.rb
Vagrant/Docker-Host/environment.rb
Vagrant/Jenkins-Server/environment.rb